{% extends "base.html.twig" %}
{% block title %}List des produit
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Liste de tous les produits
		</h1>
		<table class="table table-striped">


			<tr>
				<th scope="row">Id</th>
				<td scope="row">{{ produit.id}}</td>

			</tr>
			<tr>
				<th scope="row">Nom</th>
				<td scope="row">{{ produit.name}}</td>

			</tr>
			<tr>
				<th scope="row">Prix</th>
				<td>{{ produit.price}}</td>

			</tr>
			<tr>
				<th scope="row">Quantité</th>
				<td scope="row">{{ produit.quantity}}</td>

			</tr>
			<tr>
				<th scope="row">Catégorie</th>
				<td scope="row">{{ produit.categorie.name }}</td>

			</tr>
			<tr>
				<th scope="row">Image du produit</th>
				<td scope="row">{% set image = 'images/produits/' ~ produit.photo %}
					<img src="{{ asset(image) }}"></td>

			</tr>


		</tbody>
	</table>
</div>{% endblock %}
